/* LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 35vh;
}

main {
  height: 65vh;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  background-color: #c79f9f;
}

.left {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 15rem;
}

.right {
  width: 50rem;
  font-size: 2rem;
  align-items: center;
  right: 15rem;
}

/* ELEMENTS STYLE */
h1 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-weight: 500;
  text-align: center;
  margin-top: 1em;
  font-size: 2rem;
}

.number {
  background: #eee;
  color: rgb(0, 0, 0);
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.footer {
  font-size: 1.4rem;
  text-align: center;
  margin-top: -9rem;
}

.again {
  position: absolute;
  top: 5rem;
  right: 7rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

p {
  font-weight: 600;
  font-size: 1.5em;
}
